/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Lato:300,400,700');
$base-font: "Lato", "Helvetica", "sans-serif";
$header-font: "Roboto", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #364F6B;

$red: #FC5185;
$blue: #364F6B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #3FC1C9;
$white: #F5F5F5;
$gray: #2D2D2D
