/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Lato:300,400,700');
$base-font: "Lato", "Helvetica", "sans-serif";
$header-font: "Roboto", "Helvetica", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #34333D;

$red: #F04E46;
$blue: #6666CC;
$yellow: #FFBA57;
$orange: #E34B64;
$green: #66D9BE;
$white: #F7F7F7;
$gray: #555555;
$light-purple: #C6B9E4;
$ultra-light-purple: #F9D8FF;
