.filter-container{
  margin-bottom: 10px;
  height: 70px;
}

.filter-label{
  color: #696969;
  font-size: 12px;
  font-weight: 700;
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
}

.filter-buttons{
  padding: 8px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #d1d2d1;
  color: #999999;
  margin: 5px;
  cursor: pointer;
}

