/* -------------------------------------

 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.page-wrapper {
    padding-bottom: 0;
}

.hp-carrie-slogan {
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
    padding: 40px 0 15px;
}
.home {
  padding: 0 ;
}


@media (min-width: 600px){
  .hp-carrie-slogan{
    font-size: 5em;
  }
}

.check_item{
    display: none !important;
    }

    .clabel_item {
    opacity: 0;
    position:relative;
    }
    .filter-placehold{
      position:absolute;
      width: 120px;
      height: 40px;
      margin: -10px 0 0 -60px;
      opacity: 0;
    }
    .checkspan{
      color: #66d9be;
      position:absolute;
      margin-top: -16px;
      margin-left: -10px;
      font-size: 2em;
    }
    .check_item:checked + label {
    opacity: 1;
    }

label {
cursor: pointer;
}
