/* -------------------------------------

 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.page-wrapper {
    padding-bottom: 0;
}

.hp-carrie-slogan {
    color: #fff;
    font-size: 60px;
    font-weight: 300;
    margin: 0;
    padding: 40px 0 15px;
}
.home {
  padding: 0 ;
}
