/* -------------------------------------

 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.page-wrapper {
    padding-bottom: 0;
}

.hp-carrie-slogan {
    color: #fff;
    font-size: 2.5em;
    font-weight: 300;
    margin: 0;
    padding: 40px 0 15px;
}
.home {
  padding: 0 ;
}


@media (min-width: 600px){
  .hp-carrie-slogan{
    font-size: 5em;
  }
}

.home-content-a {
  padding: 50px 60px 60px 60px;
}

.home-content-b {
  padding: 50px 60px 0px 60px;
}

.contact-content {
  padding: 50px 60px 0px 60px;
}

.home-pic-a {
  img {
    margin-top: 12vh;
  }
}

.home-pic-b {
  img {
    margin-top: 12vh;
    margin-bottom: 10vh;
  }
}

.wrapper.with-pic {
  color: $white;
}

