<div class="wrapper-footer" style="bottom: 0px;">


  <div class="container-footer">

    <div class ="row">
      <div class="col-xs-4">

        <p class="footer-text"> ©  <%= image_tag "logo.png", size: "200x30", alt: "Carrie Logo"%></p>
      </div>
      <div class="col-xs-8">
      <p class="footer-text"> Designed by LeWagon students Barcelona Batch
      <ul class="list-inline">
        <li></li>


      </ul>
      </div>
    </div>



  </div>



</div>
