<div class="wrapper-footer" style="bottom: 0px; padding: 30px;">


  <div class="container-footer">

    <div class ="row">
      <div class="col-xs-4">

        <p class="footer-text"> ©  <%= image_tag "logo.png", size: "200x30", alt: "Carrie Logo"%></p>
      </div>

      <div class="col-xs-6">


        <p class="footer-text"> Designed by LeWagon students Barcelona Batch   </p>
      </div>
      <div class="col-xs-2">
      <ul class="list-inline">
        <li>
          <a href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>


      </div>
    </div>



  </div>



</div>
