<div class="wrapper-footer" style="bottom: 0px; padding: 15px 10px; overflow: auto">


  <div class="container-footer">
      <div class="col-xs-6 col-sm-4">

        <p class="footer-text"><%= image_tag "logo-light.png", height: "50px", alt: "Carrie Logo"%></p>
      </div>

      <div class="col-xs-6 col-sm-2" style="margin-top: 13px;">
      <ul class="list-inline" style="text-align: right;">
        <li>
          <a href="#" style="color: #F7F7F7">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li>
          <a href="#" style="color: #F7F7F7">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li>
          <a href="#" style="color: #F7F7F7">
            <i class="fa fa-github"></i>
          </a>
        </li>
      </ul>


      </div>


  </div>



</div>
