<div class="banner" style="background-image: linear-gradient(-200deg, rgba(102, 102, 204, 0.51) 0%, rgba(0, 0, 0, 0.2) 141%), url(<%= asset_path('banner-image.jpeg') %>); background-size: cover; min-height: 90vh;">
  <div class="banner-content" style="width: 100%; padding: 10px">

    <h2 class="hp-carrie-slogan">
      <span>The <strong>BEST</strong> way to buy your car</span>
    </h2>



    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 ">
        <form action="<%= cars_path  %>" class="navbar-wagon-search" method="get">
          <input type="text" class="navbar-wagon-search-input" name="search_value" placeholder="Search for brand (e.g., Audi)">
          <button type="submit" class="navbar-wagon-search-btn">
            <i class="fa fa-search"></i>
          </button>
        </form>
      </div>
    </div>




    <div class="col-xs-12 col-sm-6 col-sm-offset-3" id="filter-button2" style="padding: 10px 10px 0px; background-color: #f7f7f7;">
      <h3 class="title-container-text">  Bodystyle <i class="fa fa-chevron-down" style="margin-left: 10px;"></i></h3>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="padding: 10px; background-color: #f7f7f7;">

    <form action="<%= cars_path  %>" class="simple_form /cars" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">

      <div class="row" style="display: none; border-bottom: 1px solid #ccc" id="filter-form2">
          <%= render 'home_filter' %>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3" style="padding: 10px;">
          <input type="submit" name="commit" value="Find Your Dream Car!" class="btn btn-default btn btn-primary" style="width: 100%" data-disable-with="Apply filter">
        </div>
      </div>
    </form>
  </div>
</div>
