/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}


.container-fluid{
  padding: 0;
  margin: 0;
  width: 100vw;
  .item img{
    width: 100vw;
    object-fit: cover;
    height: 80vh;
  }
}

.sidebar{
    position: relative;
    background-color: #fff;
    color: #231f20;
    padding: 5px 0px 5px 10px;
    border-radius: 16px 16px 0 0;
    font-weight: normal;
    z-index: 2;
    .price{
      margin-left:15px;
      margin-top: -15px;
      .currency{
        font-size: 24px;
        top: -15px;
        text-transform: uppercase;
        font-family: Plantin, AmericanTypewriter-Condensed, Times New Roman, serif;
      }
      .amount{
        font-size: 64px;
        margin-left: 5px;
        font-family: Freight, HoeflerText-Black, Times New Roman, serif;
        text-align: right;
      }
      .per{
        font-size: 16px;
        margin-top: 0;
        display: inline-block;
        margin-left: 5px;
      }
    }
}

.show-main{
  width: 620px;
  float: left;
  .main-title{
    text-align: right;
    margin-top: 2px;
    text-transform: uppercase;
    width: 25%;
    float: left;
    font-family: BasisGrotesque, Avenir, Helvetica Neue, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #5d5d5d;
  }
  .main-details{
    float: left;
    padding-left: 20px;
    width: 75%;
  }
  .section{
    float: left;
  }
  .list-details {
    float: left;
    padding-left: 20px;
  }
}
