/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-blue {
  background: #00a3e1;
}
.bg-dark-blue {
  background: #3b5998;
}


.container-fluid{
  padding: 0;
  margin: 0;
  width: 100vw;
  position:relative;
  .item img{
    width: 100vw;
    object-fit: cover;
    height: 80vh;
  }
}

.sidebar{
  position: relative;
  background-color: #fff;
  color: #231f20;
  padding: 5px 0px 5px 10px;
  border-radius: 16px 16px 0 0;
  font-weight: normal;
  z-index: 2;
  float: right;
  top: -32px;
  .price{
    margin-left:15px;
    margin-top: -15px;
    .currency{
      font-size: 24px;
      top: -15px;
      text-transform: uppercase;
      font-family: $header-font;
    }
    .amount{
      font-size: 64px;
      margin-left: 5px;
      font-family: $header-font;
      text-align: right;
    }
    .per{
      font-size: 16px;
      margin-top: 0;
      display: inline-block;
      margin-left: 5px;
    }
  }
}

.sidebar-mobile{
  position: relative;
  color: #231f20;
  padding: 5px 0px 5px 10px;
  border-radius: 16px 16px 0 0;
  font-weight: normal;
  z-index: 2;

  .price{
    margin-left:15px;
    margin-top: -15px;
    .currency{
      font-size: 24px;
      top: -15px;
      text-transform: uppercase;
      font-family: $header-font;
    }
    .amount{
      font-size: 49px;
      margin-left: 5px;
      font-family: $header-font;
      text-align: right;
    }
    .per{
      font-size: 16px;
      margin-top: 0;
      display: inline-block;
      margin-left: 5px;
    }
  }

}

.price-mobile-vehicleListingSummary-vehiclePriceWrapper{
  float: right;
  background-color: #fcfcfc;
  color: #231f20;
  padding: 12px 5px 2px 5px;
  border-radius: 2px 0 0 0;
  font-weight: normal;
  position:absolute;
  right: 0px;
  bottom: -25px;

  .price{
    margin-left:15px;
    margin-top: -15px;
  }
  .currency{
    font-size: 15px;
    top: -15px;
    text-transform: uppercase;
    font-family: $header-font;
    position:absolute;
    top:10px;
    left:17px;
  }
  .amount{
    font-size: 35px;
    margin-left: 5px;
    font-family: $header-font;
  }
}

.show-main{
  width: 620px;
  float: left;
  .main-title{
    text-align: right;
    margin-top: 2px;
    text-transform: uppercase;
    width: 25%;
    float: left;
    font-family: $header-font;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
    color: #5d5d5d;
  }
  .main-details{
    float: left;
    padding-left: 20px;
    width: 75%;
  }
  .section{
    float: left;
  }
  .list-details {
    float: left;
    padding-left: 20px;
  }
}

.car-title-mobile{
    font-family: $header-font;
    text-transform: uppercase;
}

.cards{
  border-bottom: 1px solid #f8f8f8;
  padding: 20px;
  background-color: #fcfcfc;
}

.speclist li {
  margin-bottom: 7px;


}

.icon-list {
  width:19px;
  height:19px;
  margin-right: 5px;

}

.list-icons-showpage {
  margin:0px;
  padding:0 20px;

  li{
    width: 50%;
    float:left;
    list-style: none;
    margin-bottom:15px;
  }
}

.text-icon-list{
  margin-right:3px;

}
