<div style="padding-left: 24px;">
  <h1>Page not found</h1>
  <p>We are sorry, but the requested page cannot be found.</p>
  <i class="fa fa-frown-o" aria-hidden="true" style="font-size: 30px"></i>
</div>
