   .wrapper-footer {
    background-color: #34333D;
    position: relative;
    clear: both;
  }

  .container-footer {
    background-color: #34333D;
    .li{
      padding-right: 12px;
    }
    display: flex;
    align-items: center;
 }

  .footer-text {
    color:#f7f7f7;
  }
