<div class="col-xs-12" id="filter-trans">
  <h3 class="title-container-text">Car Specs<i class="fa fa-chevron-down" style="margin-left: 10px;"></i></h3>
</div>

<div class="col-xs-12" style="padding: 10px; background-color: #f7f7f7;">
<div class="row" style="display: none; border-bottom: 1px solid #ccc" id="filter-form-trans">

  <div class="filter-container">
    <div class="filter-label">Transmission Type:</div>
    <div class="col-xs-4 p0">
      <input type="checkbox" class="check_item" name="trans_types[]" id="trans1" value="Manual">
      <label class="label_item" for="trans1">
      <div class="filter-buttons">MANUAL</div></label>
    </div><!---->
    <div class="col-xs-4 p0">
      <input type="checkbox" class="check_item" name="trans_types[]" id="trans2" value="Automatic">
      <label class="label_item" for="trans2">
      <div class="filter-buttons">AUTO</div></label>
    </div><!---->
    <div class="col-xs-4 p0">
      <input type="checkbox" class="check_item" name="trans_types[]" id="trans3" value="Shiftable automatic">
      <label class="label_item" for="trans3">
      <div class="filter-buttons">S.AUTO</div></label>
    </div>
  </div>

  <div class="filter-container">
    <div class="filter-label">Transmission Speeds:</div>
    <div class="col-xs-3 p0">
      <input type="checkbox" class="check_item" name="trans_speeds[]" id="speed1" value="4">
      <label class="label_item" for="speed1">
      <div class="filter-buttons">4</div></label>
    </div><!---->

    <div class="col-xs-3 p0">
      <input type="checkbox" class="check_item" name="trans_speeds[]" id="speed2" value="5">
      <label class="label_item" for="speed2">
      <div class="filter-buttons">5</div></label>
    </div><!---->

    <div class="col-xs-3 p0">
      <input type="checkbox" class="check_item" name="trans_speeds[]" id="speed3" value="6">
      <label class="label_item" for="speed3">
      <div class="filter-buttons">6</div></label>
    </div><!---->

    <div class="col-xs-3 p0">
      <input type="checkbox" class="check_item" name="trans_speeds[]" id="speed4" value="7">
      <label class="label_item" for="speed4">
      <div class="filter-buttons">7</div></label>
    </div>
  </div>

  <div class="filter-container">
    <div class="filter-label">Drive:</div>
    <div class="col-xs-4 p0">
      <input type="checkbox" class="check_item" name="drive[]" id="drive1" value="rear wheel drive">
      <label class="label_item" for="drive1">
      <div class="filter-buttons">RWD</div></label>
    </div><!---->

    <div class="col-xs-4 p0">
      <input type="checkbox" class="check_item" name="drive[]" id="drive2" value="front wheel drive">
      <label class="label_item" for="drive2">
      <div class="filter-buttons">FWD</div></label>
    </div><!---->
    <div class="col-xs-4 p0">
      <input type="checkbox" class="check_item" name="drive[]" id="drive3" value="four wheel drive">
      <label class="label_item" for="drive3">
      <div class="filter-buttons">4WD</div></label>
    </div>
  </div>
</div>
</div>
