<div class="col-xs-12" id="filter-basic">
  <h3 class="title-container-text">Basic Info<i class="fa fa-chevron-down" style="margin-left: 10px;"></i></h3>
</div>

<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding: 10px; background-color: #f7f7f7;">
<div class="row" style="display: none; border-bottom: 1px solid #ccc" id="filter-form-basic">

  <div class="filter-container">
    <div class="filter-label">Brand:</div>
    <div class="col-xs-12">
      <input type="text" class="form-control" name="car[brand]" id="_cars_brand" value="<%= params[:car].try(:[],:brand) || params[:search_value] %>">
    </div><!---->
  </div>

  <div class="filter-container">
    <div class="filter-label">Max-Price(€):</div>
    <div class="col-xs-12">
      <input type="number" class="form-control" name="car[price]" id="_cars_price" value="<%= params[:car].try(:[],:price) %>">
    </div><!---->
  </div>

  <div class="filter-container">
    <div class="filter-label">Odometer (Max KM):</div>
    <div class="col-xs-12">
      <input type="number" class="form-control" name="car[odometer]" id="_cars_odometer" value="<%= params[:car].try(:[],:odometer) %>">
    </div><!---->
  </div>

  <div class="filter-container">
    <div class="filter-label">Year Limit:</div>
    <div class="col-xs-12">
      <input type="number" class="form-control" name="car[year]" id="_cars_year" value="<%= params[:car].try(:[],:year) %>">
    </div><!---->
  </div>



</div>
</div>
