<div class="col-xs-12 col-sm-8 col-sm-offset-2" style="padding: 10px 10px 0px; background-color: #f7f7f7;">
  <form action="<%= cars_path  %>" class="simple_form /cars" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">



    <%= render 'filter_style' %>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-sm-offset-4" style="padding: 10px;">
        <input type="submit" name="commit" value="Find Your Dream Car!" class="btn btn-default btn btn-primary" style="width: 100%" data-disable-with="Apply filter">
      </div>
    </div>
  </form>
</div>










<div class="row filter-container">
  <div class="filter-label">Transmission Type:</div>
  <div class="col-xs-4">
    <div class="filter-buttons">MANUAL</div>
  </div><!---->
  <div class="col-xs-4">
    <div class="filter-buttons">AUTOMATIC</div>
  </div><!---->
  <div class="col-xs-4">
    <div class="filter-buttons">SHFT AUTO</div>
  </div>
</div>
