<div class="wrapper" style="overflow:auto;">
<div class="container" style="width: 100%">
<p id="notice" style="margin: 0px;"><%= notice %></p>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <h3>Edit details of your car</h3>
        <%= render 'form', car: @car %>
    </div>
</div>
</div>
</div>
