<div class="wrapper" style="overflow:auto;">
<div class="container" style="width: 100%">
<p id="notice" style="margin: 0px;"><%= notice %></p>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2>Add Car: Step 1/2 - VIN Lookup</h2>
      <%= render 'vinform' %>
      <%= link_to 'skip', new_cars_2_path %>
    </div>
</div>
</div>
</div>
