<div class="pagecontainer-content">

  <div class="container container--fluid">
    <!-- ADD Image Carousel -->
  </div>
  <div class="container">
    <!-- Add DETAILS + REVIEWS HERE -->
  </div>
  <div class="container container--fluid u-hideSmallScreen">
    <!-- ADD MAP HERE -->
  </div>



</div>

























<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
