<div class="wrapper" style="overflow:auto;">
  <div class="container" style="width: 100%">
    <p id="notice" style="margin: 0px;"><%= notice %></p>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h3>Add VIN number</h3>
        <%= render 'vinform' %>
        <div style="margin-top: 5px"><%= link_to "I don't know my VIN number", new_car_path %></div>
      </div>
    </div>
    <div class="row" style="margin-top: 15px">
    <div class="col-sm-6 col-sm-offset-3" style="margin-top: 5px; margin-bottom: 5px;">
        <p>You can find your VIN number in your traffic license, or on the windshield, as seen below.</p>
        <img id="vin" src="https://www.polestar.com/app/uploads/2014/12/reg_vin_car-1280x723.jpg" alt="">
      </div>
    </div>
  </div>
</div>
